<?php
/**
 * @var \Aheadworks\Layerednav\Block\Adminhtml\AttributesOptionsSorter $block
 */
?>
<table>
    <tr>
        <td>
            <label for="attribute">Attribute for sorting</label>
        </td>
        <td>
            <input type="text" name="attribute" id="attribute"/>
            <input type="hidden" id="attribute_id" value=""/>
        </td>
    </tr>
    <tr>
        <td>
            <label for="attribute_set">Attribute set for sorting</label>
        </td>
        <td>
            <input type="text" name="attribute_set" id="attribute_set"/>
            <input type="hidden" id="attribute_set_id" value=""/>
        </td>
    </tr>
</table>
<div id="results">
    <pre></pre>
</div>

<script>
    require(
        [
            'jquery',
            'jquery/ui',
            'mage/translate'
        ],
        function($) {
            var attributeInput = $('#attribute'),
                attributeSetInput = $('#attribute_set'),
                attributeIdInput = $('#attribute_id'),
                attributeSetIdInput = $('#attribute_set_id'),
                xhr = false;
            attributeInput.autocomplete({
                source: function( request, response ) {
                    if(xhr)
                        xhr.abort();
                    xhr = $.ajax( {
                        url: '<?=$block->getAutocompleteAttributeUrl()?>',
                        dataType: 'json',
                        data: {
                            'string': request.term
                        },
                        success: function( data ) {
                            response(data.length === 1 && data[ 0 ].length === 0 ? [] : data);
                        }
                    });
                },
                appendTo: attributeInput.parent(),
                minLength: 3,
                select: function( event, ui ) {
                    attributeIdInput.val(ui.item.attribute_id).change();
                },
                change: function(event,ui){
                    if(!ui.item)
                    {
                        attributeInput.val('').change();
                        attributeIdInput.val('').change();
                        attributeInput.autocomplete( "search", "" );
                    }
                },
                delay: 500,
                messages: {
                    noResults: $.mage.__('No results'),
                    results : function() {
                        return '';
                    }
                }
            }).focus(function () {
                if($(this).val() != '') {
                    $(attributeInput.parent().find('ul')).css('display', 'block');
                }
            });

            attributeSetInput.autocomplete({
                source: function( request, response ) {
                    if(xhr)
                        xhr.abort();
                    xhr = $.ajax( {
                        url: '<?=$block->getAutocompleteAttributeSetUrl()?>',
                        dataType: 'json',
                        data: {
                            'string': request.term
                        },
                        success: function( data ) {
                            response(data.length === 1 && data[ 0 ].length === 0 ? [] : data);
                        }
                    });
                },
                appendTo: attributeSetInput.parent(),
                minLength: 3,
                select: function( event, ui ) {
                    attributeSetIdInput.val(ui.item.attribute_id).change();
                },
                change: function(event,ui){
                    if(!ui.item)
                    {
                        attributeSetInput.val('').change();
                        attributeSetIdInput.val('').change();
                        attributeSetInput.autocomplete( "search", "" );
                    }
                },
                delay: 500,
                messages: {
                    noResults: $.mage.__('No results'),
                    results : function() {
                        return '';
                    }
                }
            }).focus(function () {
                if($(this).val() != '') {
                    $(attributeSetInput.parent().find('ul')).css('display', 'block');
                }
            });
        });
</script>