<?php
/**
 * @var \Aheadworks\Layerednav\Block\Adminhtml\AttributesOptionsSorter $block
 */
?>

<button id="all_attributes_button">Sort All Attributes Options</button>
<button id="selected_attribute_button" disabled="disabled">Sort Options By Selected Attribute</button>
<button id="selected_set_button" disabled="disabled">Sort Options By Selected Attribute Set</button>

<script>
    require(
        [
            'jquery'
        ],
        function($) {
            var allButton = $('#all_attributes_button'),
                selectedButton = $('#selected_attribute_button'),
                selectedSetButton = $('#selected_set_button'),
                attributeIdInput = $('#attribute_id'),
                attributeSetIdInput = $('#attribute_set_id'),
                xhr = false;
            allButton.on('click',function () {
                if (confirm('This action can take a long time. You are sure?')) {
                    optionsSorter(false,false);
                }
            });

            selectedButton.on('click',function () {
                optionsSorter($('#attribute_id').val(),false);
            });

            selectedSetButton.on('click',function () {
                if (confirm('This action can take a long time. You are sure?')) {
                    optionsSorter(false,$('#attribute_set_id').val());
                }
            });

            attributeIdInput.on('change',function() {
                if ($(this).val()) {
                    selectedButton.attr('disabled',false);
                } else {
                    selectedButton.attr('disabled',true);
                }
            });

            attributeSetIdInput.on('change',function() {
                if ($(this).val()) {
                    selectedSetButton.attr('disabled',false);
                } else {
                    selectedSetButton.attr('disabled',true);
                }
            });

            function optionsSorter (attribute,attributeSet) {
                var data = {};
                if (attribute) {
                    data.attribute_id = attribute;
                } else {
                    data.attribute_id = '';
                }
                if (attributeSet) {
                    data.attribute_set_id = attributeSet;
                }
                xhr = $.ajax( {
                    url: '<?php echo $block->getSorterUrl()?>',
                    dataType: 'json',
                    data: data,
                    showLoader: true,
                    success: function( data ) {
                        $('#results pre').html(syntaxHighlight(data));
                        xhr = false;
                    }
                });
            }

            function syntaxHighlight(json) {
                if (typeof json != 'string') {
                    json = JSON.stringify(json, undefined, 2);
                }
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }
        });
</script>