<?php
/* @var $block \Aheadworks\Layerednav\Block\Navigation\Swatches\FilterRenderer */

// @codingStandardsIgnoreFile
?>
<?php $swatchData = $block->getSwatchData();?>
<div class="swatch-attribute swatch-layered <?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>"
     attribute-code="<?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>" attribute-id="174">
    <div class="swatch-attribute-options clearfix">
        <?php foreach ($swatchData['options'] as $option => $label): ?>
            <?php if (isset($swatchData['swatches'][$option]['type'])): ?>
                <?php
                    $classes = '';
                    $swatchTooltipThumb = '';
                    $swatchTooltipValue = '';

                    $type = $swatchData['swatches'][$option]['type'];
                    switch ($type) {
                        case '3':
                            break;

                        case '2':
                            $classes .= ' image';
                            $swatchTooltipThumb = $block->getSwatchPath('swatch_thumb', $swatchData['swatches'][$option]['value']);
                            break;

                        case '1':
                            $classes .= ' color';
                            $swatchTooltipValue = $swatchData['swatches'][$option]['value'];
                            break;

                        case '0':
                        default:
                            $classes .= ' text';
                            break;
                    }

                    if ($label['custom_style']) {
                        $classes .= ' ' . $label['custom_style'];
                    }
                    if ($block->isActiveItem($swatchData['attribute_code'], $option)) {
                        $classes .= ' active';
                    }
                ?>
                <div id="aw-filter-option-<?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] . '-' . $option ?>"
                     class="swatch-option<?php /* @escapeNotVerified */ echo $classes ?> "
                     option-type="<?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['type'] ?>"
                     option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                     option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                     option-tooltip-thumb="<?php /* @escapeNotVerified */ echo $swatchTooltipThumb ?>"
                     option-tooltip-value="<?php /* @escapeNotVerified */ echo $swatchTooltipValue ?>"
                     data-role="aw-layered-nav-filter-item"
                     data-attr-code="<?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>"
                     data-mage-init='{"awLayeredNavFilterItem": {"type": "swatch"}}'
                    <?php if ($type == '2'): ?>
                        style="background: url(<?php /* @escapeNotVerified */ echo $block->getSwatchPath('swatch_image', $swatchData['swatches'][$option]['value']) ?>) no-repeat center; background-size: initial;"
                    <?php elseif ($type == '1'): ?>
                        style="background: <?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?> no-repeat center; background-size: initial;"
                    <?php endif; ?>
                >
                    <input type="hidden" name="<?php /* @escapeNotVerified */ echo $swatchData['attribute_code']?>" value="<?php /* @escapeNotVerified */ echo $option ?>" />
                    <?php if (!in_array($type, ['1', '2', '3'])): ?>
                        <?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
<script>
    require([
        'jquery',
        'jquery/ui',
        'Magento_Swatches/js/swatch-renderer'
    ], function ($) {
        $('[data-role=aw-layered-nav-filter-item][data-attr-code=<?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>]')
            .SwatchRendererTooltip();
    });
</script>
