<?php

/** @var $block Project\CartridgeSelect\Block\Adminhtml\AttributeSettings\Options */

// @codingStandardsIgnoreFile

$stores = $block->getStoresSortedBySortOrder();
?>

<div id="manage-options-panel" data-index="attribute_options_select_container">
    <table class="admin__control-table" data-index="attribute_options_select">
        <thead>
        <tr id="attribute-options-table">
            <th class="col-draggable"></th>
            <th class="col-default control-table-actions-th">
                <span><?php echo $block->escapeHtml(__('Is Default')) ?></span></th>
            <?php
            foreach ($stores as $_store): ?>
                <th
                    <?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?>
                        class="_required"
                    <?php endif; ?>>
                    <span><?php echo $block->escapeHtml(__($_store->getName())) ?></span>
                </th>
            <?php endforeach;
            $storetotal = count($stores) + 3;
            ?>
            <th class="col-delete">&nbsp;</th>
        </tr>
        </thead>
        <tbody data-role="options-container" class="ignore-validate"></tbody>
        <tfoot>
        <tr>
            <th colspan="<?php echo (int) $storetotal; ?>" class="validation">
                <input type="hidden" class="required-dropdown-attribute-entry"
                       name="dropdown_attribute_validation"/>
                <input type="hidden" class="required-dropdown-attribute-unique"
                       name="dropdown_attribute_validation_unique"/>
            </th>
        </tr>
        <tr>
            <th colspan="<?php echo (int) $storetotal; ?>" class="col-actions-add">
                    <button id="add_new_option_button" data-action="add_new_row"
                            title="<?php echo $block->escapeHtml(__('Add Option')); ?>"
                            type="button" class="action- scalable add">
                        <span><?php echo $block->escapeHtml(__('Add Option')); ?></span>
                    </button>
            </th>
        </tr>
        </tfoot>
    </table>
    <input type="hidden" id="option-count-check" value="" />
</div>
<script id="row-template" type="text/x-magento-template">
    <tr>
        <td class="col-draggable">
                <div data-role="draggable-handle" class="draggable-handle"
                     title="<?php echo $block->escapeHtml(__('Sort Option')); ?>"></div>
            <input
                    data-form-part="attributesettings_form"
                    data-role="order"
                    type="hidden"
                    name="option[order][<%- data.id %>]"
                    value="<%- data.sort_order %>"
        </td>
        <td class="col-default control-table-actions-cell">
            <input
                    data-form-part="attributesettings_form"
                    class="input-radio"
                    type="<%- data.intype %>"
                    name="default[]"
                    value="<%- data.id %>"
            <%- data.checked %>/>
        </td>
        <?php foreach ($stores as $_store): ?>
            <td class="col-<%- data.id %>">
                <input
                        data-form-part="attributesettings_form"
                        name="option[value][<%- data.id %>][<?php echo (int) $_store->getId() ?>]"
                        value="<%- data.store<?php echo (int)$_store->getId() ?> %>"
                        class="admin__control-text input-text<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?>
                    required-option required-unique<?php endif; ?>"
                        type="text"

            </td>
        <?php endforeach; ?>
        <td id="delete_button_container_<%- data.id %>" class="col-delete">
            <input type="hidden" class="delete-flag" name="option[delete][<%- data.id %>]" value="" data-form-part="attributesettings_form" />
                <button
                        id="delete_button_<%- data.id %>"
                        title="<?php echo $block->escapeHtml(__('Delete')) ?>"
                        type="button"
                        class="action- scalable delete delete-option">
                    <span><?php echo $block->escapeHtml(__('Delete')) ?></span>
                </button>
        </td>
    </tr>
</script>
<?php
    $values = [];
$block->getOptionValues();
foreach($block->getOptionValues() as $value) {
    $values[] = is_array($value) ? array_map("htmlspecialchars_decode", $value) : $value;
}

?>
<!--<script type="text/x-magento-init">-->
<!--    {-->
<!--        "*": {-->
<!--            "Magento_Catalog/js/options": {-->
<!--                "attributesData": --><?php ///* @noEscape */ echo json_encode($values, JSON_HEX_QUOT); ?><!--,-->
<!--                "isSortable":  1,-->
<!--                "isReadOnly": 0-->
<!--            },-->
<!--            "Magento_Catalog/catalog/product/attribute/unique-validate": {-->
<!--                "element": "required-dropdown-attribute-unique",-->
<!--                "message": "--><?php //echo $block->escapeHtml(__('The value of Admin must be unique.')) ?><!--"-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->

<script>
    require([
        'Magento_Catalog/js/options',
        'Magento_Catalog/catalog/product/attribute/unique-validate'
    ], function(Options, UniqueValidate){

        Options({
            "isSortable":  1,
            "isReadOnly": 0
        });
        window.attributeOption.renderWithDelay(<?php /* @noEscape */ echo json_encode($values, JSON_HEX_QUOT); ?>, 0, 100, 300);
        window.attributeOption.bindRemoveButtons();

        UniqueValidate({
            "element": "required-dropdown-attribute-unique",
            "message": "<?php echo $block->escapeHtml(__('The value of Admin must be unique.')) ?>"
        });
    });
</script>
