<?php
/* @var $block \Aheadworks\Layerednav\Block\Navigation\FilterRenderer */

// @codingStandardsIgnoreFile
?>
<ol class="items" data-scrolltop="0">
    <?php /** @var \Magento\Catalog\Model\Layer\Filter\Item[] $filterItems */ ?>
    <?php foreach ($filterItems as $filterItem): ?>
        <?php
            $requestVar = $filterItem->getFilter()->getRequestVar();
            $filterItemCount = $filterItem->getCount();

            if ($requestVar == 'brands' && empty($filterItemCount)) {
                continue;
            }

            $value = $filterItem->getValue();
            $htmlId = 'aw-filter-option-' . $requestVar . '-' . $value;
            $count = ' (' . $filterItemCount . ')';
        ?>
        <li class="item">
            <?php if ($filterItem->getData('seo_link')) { ?>
                <a href="<?php echo $filterItem->getData('seo_link'); ?>">
                    <input
                            id="<?php /* @escapeNotVerified */ echo $htmlId ?>"
                            type="checkbox"
                            name="<?php /* @escapeNotVerified */ echo $requestVar ?>"
                            value ="<?php /* @escapeNotVerified */ echo $value ?>"
                        <?php if ($block->isActiveItem($filterItem)) { /* @escapeNotVerified */ echo 'checked'; $count = "";}?>
                        <?php if (!$filterItemCount && !$block->isActiveItem($filterItem)) { /* @escapeNotVerified */ echo 'disabled'; } ?>
                            data-mage-init='{"awLayeredNavFilterItem": {}}'
                            data-role="aw-layered-nav-filter-item"
                    />
                    <label class="aw-filter-option" for="<?php /* @escapeNotVerified */ echo $htmlId ?>"><?php /* @escapeNotVerified */ echo $filterItem->getLabel() . $count ?></label>
                </a>
            <?php } else { ?>
                <input
                        id="<?php /* @escapeNotVerified */ echo $htmlId ?>"
                        type="checkbox"
                        name="<?php /* @escapeNotVerified */ echo $requestVar ?>"
                        value ="<?php /* @escapeNotVerified */ echo $value ?>"
                    <?php if ($block->isActiveItem($filterItem)) { /* @escapeNotVerified */ echo 'checked'; $count = "";}?>
                    <?php if (!$filterItemCount && !$block->isActiveItem($filterItem)) { /* @escapeNotVerified */ echo 'disabled'; } ?>
                        data-mage-init='{"awLayeredNavFilterItem": {}}'
                        data-role="aw-layered-nav-filter-item"
                />
                <label class="aw-filter-option" for="<?php /* @escapeNotVerified */ echo $htmlId ?>"><?php /* @escapeNotVerified */ echo $filterItem->getLabel() . $count ?></label>
            <?php } ?>
        </li>
    <?php endforeach ?>
</ol>