<?php
/* @var $block \Aheadworks\Layerednav\Block\Navigation\FilterRenderer */

// @codingStandardsIgnoreFile
?>
<?php /** @var \Magento\Catalog\Model\Layer\Filter\Item[] $filterItems */
$priceData = [];
foreach ($filterItems as $filterItem) {
    $priceData[$filterItem->getLabel()] = [
        'min' => $filterItem->getValue()[0],
        'max' => $filterItem->getValue()[1],
        'name'=> $filterItem->getFilter()->getRequestVar()
    ];
}
$currentValue = '';
if ($priceData['interval']['min'] != $priceData['limits']['min'] || $priceData['interval']['max'] != $priceData['limits']['max']) {
    $currentValue = $priceData['interval']['min'] . ' - ' . $priceData['interval']['max'];
}
?>

<div class="items">
    <div class="price_handles_inputs">
        <input type="number" id="min_value_price" class="min_value" />
        <span class="separator">-</span>
        <input type="number" id="max_value_price" class="max_value" />
        грн
    </div>
    <input
        id="aw-filter-option-<?php echo $priceData['interval']['name']?>"
        type="hidden"
        data-label=""
        name="<?php echo $priceData['interval']['name']?>"
        value="<?php echo $currentValue?>"
        data-mage-init='{"awLayeredNavFilterItem": {"type": "price"}}'
        data-role="aw-layered-nav-filter-item"
    />
    <span id="price_handles_slider"></span>
</div>

<script>
    require([
        'jquery',
        'noUiSlider',
        'mage/utils/strings',
        'mage/translate'
    ], function ($, noUiSlider, string) {
        var $priceSlider = $("#price_handles_slider"),
            $priceInput = $("#aw-filter-option-<?php echo $priceData['interval']['name']?>"),
            $priceMinInput = $("#min_value_price"),
            $priceMaxInput = $("#max_value_price"),
            $priceInputs = $(".price_handles_inputs input"),
            interval = {
                min: <?php echo $priceData['interval']['min']?>,
                max: <?php echo $priceData['interval']['max']?>
            },
            limits = {
                min: <?php echo $priceData['limits']['min']?>,
                max:  <?php echo $priceData['limits']['max']?>
            },
            timeout_id = false;

        if (interval.min != limits.min || interval.max != limits.max) {
            $priceInput.data('label',getPriceLabel(interval.min,interval.max));
        }

        $priceSlider.noUiSlider({
            start: [interval.min, interval.max],
            connect: true,
            range: {
                'min': limits.min,
                'max': limits.max
            },
            format: wNumb({
                decimals: 0,
                thousand: '',
                prefix: ''
            })
        });

        $priceSlider.Link('lower').to($priceMinInput);

        $priceSlider.Link('upper').to($priceMaxInput);

        $priceInputs.on('keyup',function() {
            var elem = $(this);
            if (timeout_id) {
                clearTimeout(timeout_id)
            }
            timeout_id = setTimeout(
                function () {
                    elem.change();
                    setPriceData();
                },
                2000
            );
        });

        $priceSlider.on('change',function () {
            setPriceData();
        });

        $priceInput.on('change',function () {
            if (!$(this).val()) {
                $priceMinInput.val(limits.min).change();
                $priceMaxInput.val(limits.max).change();
            }
        });

        function setPriceData() {
            var values = $priceSlider.val(),
                max = <?php echo $priceData['limits']['max']?>,
                oldValue =  $priceInput.val();
            values[1] = (values[1] == max)?'':values[1];
            var newValue = values[0] + '-' + values[1];
            if (oldValue != newValue) {
                $priceInput.val(newValue).data('label',getPriceLabel(values[0],values[1])).change();
            }
        }

        function getPriceLabel(min,max) {
            if (max) {
                return string.format('{0} грн - {1} грн', min, max);
            } else {
                return string.format('{0} {1} грн', $.mage.__('от'), min);
            }
        }
    });
</script>