<?php
/* @var $block \Aheadworks\Layerednav\Block\Navigation */

// @codingStandardsIgnoreFile

$activeUserOptionCodes = array_keys($block->getRequest()->getParams());
$activeAllOptionCodes = array_merge(
    [
        'price',
        'brands',
        'category_ids'
    ],
    $activeUserOptionCodes
);

$activeMobileTab = $block->getRequest()->getParam('mobile');

?>
<div id="layered-filter-block"
     class="block filter <?php echo isset($activeMobileTab) ? 'mobile-options-open' : ''; ?>"
     data-role="filter-block"
     data-mage-init='{"collapsible":{
            "openedState": "active",
            "collapsible": true,
            "active": false,
            "collateral": {
                "openedState": "filter-active",
                "element": "body"
            }
         }}'>
    <div class="block-title filter-title">
        <div class="top clearfix" data-mage-init='{"awLayeredNavFilterActions": {}}'>
            <p data-role="title"><?php echo __('Фильтр') ?></p>
            <?php if ($block->hasActiveFilters()): ?>
                <span data-role="clear-button" class="clear-button">
                    <?php /* @escapeNotVerified */ echo __('Очистить');?>
                </span>
            <?php endif; ?>
            <span class="close_mobile_filter icon-icon-rep-icons_close"></span>
        </div>
    </div>
    <div class="block-content filter-content">
        <div class="filter-options" id="narrow-by-list">
            <?php foreach ($block->getFilters() as $filter) { ?>

                <?php
                if (!$attributeModel = $filter->getData('attribute_model')) continue;
                $filterAttributeCode = $attributeModel->getAttributeCode();
                $filterName = $block->escapeHtml(__($filter->getName()));
                ?>

                <?php if ($filter->getItemsCount()) { ?>
                    <div
                            class="filter-options-item<?php if (in_array($filterAttributeCode, $activeAllOptionCodes)) { echo ' active'; } ?> <?php if ($attributeModel->getAttributeId() == $activeMobileTab) { echo 'mobile_active'; } ?>"
                            data-mage-init='{"awLayeredNavCollapse": {}}'
                            data-user-active="<?php echo (int)in_array($filterAttributeCode, $activeUserOptionCodes); ?>"
                            data-filter-code="<?php echo $attributeModel->getAttributeId(); ?>"
                    >
                        <div data-role="title" class="filter-options-title icon-icon-rep-icons_arrow_right">
                            <div class="text_container">
                                <span class="option_title"><?php echo $filterName; ?></span>
                                <span class="select_options_container"></span>
                            </div>
                            <span class="arrow icon-icon-rep-icons_arrow_right"></span>
                        </div>
                        <div data-role="content" class="filter-options-content">
                            <div class="top_option_block">
                                <?php echo $filterName; ?>
                                <span class="close_mobile_option icon-icon-rep-icons_close"></span>
                            </div>
                            <?php /* @escapeNotVerified */ echo $block->getLayout()
                                ->createBlock('Aheadworks\Layerednav\Block\Navigation\FilterRenderer')
                                ->setTemplate('layer/renderer/' . ($filterAttributeCode == 'price' ? 'price.phtml' : 'filter.phtml'))
                                ->render($filter);
                            ?>
                        </div>
                    </div>
                <?php } ?>
            <?php } ?>
            <div class="button-list aw-layered-nav-popover__action"
                 data-role="aw-layered-nav-actions"
                 data-mage-init='{"awLayeredNavFilterActions": {}}'>
                <?php if (!$block->isPopoverDisabled()): ?>
                    <button data-role="show-button"
                            class="show-button<?php if (!$block->hasActiveFilters()): ?> disabled<?php endif; ?>"><?php /* @escapeNotVerified */ echo __('Показать');?></button>
                <?php endif; ?>
            </div>
            <div class="more_options_btn">
                <span class="icon-icon-rep-icons_arrow_right"><?=__('Показать еще параметры')?></span>
            </div>
        </div>
    </div>
    <div id="aw-layered-nav-popup"
         class="aw-layered-nav-popover aw-layered-nav-popover"
         data-role="aw-layered-nav-popover"
         data-mage-init='{"awLayeredNavPopover": {
                "filtersContainer": "#layered-filter-block",
                "isPopoverDisabled": <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->isPopoverDisabled()) ?>,
                "hasActiveFilters": <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->hasActiveFilters()) ?>}}'>
        <div class="aw-layered-nav-popover__content">
            <div id="aw-layered-nav-popover__items" data-role="items-count-container" class="aw-layered-nav-popover__items"></div>
            <div class="aw-layered-nav-popover__loader"><div class="aw-layered-nav-popover__loader-itself"></div></div>
            <div class="aw-layered-nav-popover__action">
                <?php if (!$block->isPopoverDisabled()): ?>
                    <button data-role="show-button"
                            class="close_mobile_option show-button<?php if (!$block->hasActiveFilters()): ?> disabled<?php endif; ?>"><?php /* @escapeNotVerified */ echo __('Показать');?></button>
                <?php endif; ?>
            </div>
            <div class="hide-button icon-icon-rep-icons_close"></div>
        </div>
    </div>


    <script>
        require([
            'jquery',
            'Aheadworks_Layerednav/js/url',
            'Aheadworks_Layerednav/js/filter/request/bridge',
            'filterItem',
            'mage/utils/strings',
            <?php if ($block->isAjaxEnabled()): ?>
            'Aheadworks_Layerednav/js/filter/request/executor/ajax',
            <?php else: ?>
            'Aheadworks_Layerednav/js/filter/request/executor/location',
            <?php endif; ?>
            'Aheadworks_Layerednav/js/filter/data/source/ajax',
            'Aheadworks_Layerednav/js/product-list/pager',
            'scrollbar'
        ], function ($, url, requestBridge, FilterItem, string, executor, ajaxDataSource) {
            requestBridge.init({executor: executor});
            ajaxDataSource.init({
                url: '<?php echo $block->escapeQuote($block->getItemsCountUrl()) ?>',
                pageType: '<?php /* @escapeNotVerified */ echo $block->getPageType() ?>',
                categoryId: '<?php /* @escapeNotVerified */ echo $block->getCategoryId() ?>',
                searchQueryText: '<?php echo $block->escapeQuote($block->getSearchQueryText()) ?>'
            });
            $('.pages').awLayeredNavPager({});

            function mobile(){
                var windowWidth = parseInt(window.innerWidth),
                    filterContainer = jQuery('#layered-filter-block');
                if (windowWidth < 1024){
                    filterContainer.addClass('mobile_filter');
                } else {
                    filterContainer.removeClass('mobile_filter');
                }
            };

            mobile();

            jQuery('#layered-filter-block .hide-button').click(function(){
                jQuery('#aw-layered-nav-popup').hide();
            });

            jQuery('.filter-options input[checked]').each(function() {
                addFastFilterItem(this);
            });

            jQuery('.filter-options input[type=checkbox]').click(function() {
                addFastFilterItem(this);
            });


            var priceFilter = $('.filter-options input[name="price"]');
            if (priceFilter.val()) {
                addFastFilterItem('.filter-options input[name="price"]');
            }

            jQuery('.filter-options input[name="price"]').change(function() {
                addFastFilterItem(this);
            });

            jQuery('div.filter-title').on('click', 'p[class^=aw-filter-option] span', function () {
                jQuery('input#'+jQuery(this).data('id')).click();
            });

            jQuery('div.filter-title').on('click', 'p.aw-filter-option-price span', function () {
                jQuery('input#'+jQuery(this).data('id')).val('').change();
            });

            function addFastFilterItem(element) {

                var options = {
                    className: {
                        itemBlockContainer: 'filter-options-item',
                        itemBlockTitle: 'filter-options-title',
                        itemTitle: 'aw-filter-option',
                        itemFastBlockContainer: 'filter-title',
                        itemMobileTitleContainer: 'select_options_container'
                    }
                };

                var filterItem = new FilterItem(element, options);

                if ((filterItem.getBlockId() == 'price' && !$(element).val()) || (filterItem.getBlockId() != 'price' && !filterItem.isChecked())) {
                    filterItem.remove();
                    return;
                }


                if (filterItem.getBlockId() == 'price' && filterItem.fastBlockElement().length) {
                    filterItem.fastBlockElement().find('.' + filterItem.getId()).remove();
                }

                if(!filterItem.fastBlockElement().length) {
                    filterItem.fastContainerElement().append(
                        string.format('<div class="{0} checked_attribute"><p class="attribute">{1}</p></div>',
                            filterItem.getBlockId(),
                            filterItem.getBlockTitle()
                        )
                    );
                }

                filterItem.fastBlockElement().append(
                    string.format('<p class="{0} attribute_value">{1}<span class="icon-icon-rep-icons_close" data-id="{0}"></span></p>',
                        filterItem.getId(),
                        filterItem.getTitle().replace(/\([+0-9]+\)/, '')
                    )
                );

                if (filterItem.getBlockId() == 'price' && filterItem.fastMobileTitleContainer().find('.' + filterItem.getId()).length) {
                    filterItem.fastMobileTitleContainer().find('.' + filterItem.getId()).remove();
                }

                filterItem.fastMobileTitleContainer().append(
                    string.format('<span class="{0}">{1}</span>',
                        filterItem.getId(),
                        filterItem.getTitle()
                    )
                );
            }
            
            var visibleItemsNumber = 10;
            var scrollbarItemsNumber = 20;
            $('ol.items').on('scroll', function () {
                $(this).attr('data-scrolltop', $(this).scrollTop());
            });
            function showMoreItem(number, elem, i){
                var filterItem = jQuery(elem).find('li.item');
                if(jQuery(filterItem).length > number) {
                    var hideItemNumber = jQuery(filterItem).filter('li:gt(' + (number - 1) + ')');
                    hideItemNumber.hide();
                    jQuery(filterItem).parent()
                        .after('<p class="show_more" id="show_more_'+i+'"><span><?=__('Показать больше')?></span> [' + hideItemNumber.length + ']</p>');
                    jQuery('.filter-options-item #show_more_'+i).on('click', function () {
                        hideItemNumber.show();
                        jQuery(this).hide();
                        if(jQuery(filterItem).length > scrollbarItemsNumber){
                            var srcollbarFirstItems = jQuery(filterItem).filter('li:lt(' + (scrollbarItemsNumber) + ')');
                            var maxHeight = 0;
                            jQuery(srcollbarFirstItems).each(function(){
                                maxHeight = maxHeight + jQuery(this).outerHeight(true);
                            });
                            var itemsContainer = jQuery(elem).find('ol.items');
                            jQuery(itemsContainer).css('max-height', maxHeight);
                            jQuery(itemsContainer).enscroll({
                                easingDuration: 300,
                            });
                        }
                    });
                }
            }
            jQuery('.filter-options-item').each(function (i) {
                showMoreItem(visibleItemsNumber, this, i);
            });
            var filterOptions = jQuery('#layered-filter-block .filter-options-item'),
                optionsNumber = filterOptions.length,
                //moreOptionsButton = jQuery('#layered-filter-block .more_options_btn'),
                closeOptionButton = jQuery('#layered-filter-block .close_mobile_option'),
                closeMobileOptionButton = 'div.mobile_filter .close_mobile_option.show-button',
                filterItem = jQuery('#layered-filter-block .filter-options-item .item');

            <?php if (!$isShown = $block->getRequest()->getParam('more_options_shown')) { ?>
            /*if (optionsNumber > 4){
                jQuery('#layered-filter-block .filter-options-item:gt(3)').hide();
                moreOptionsButton.show();
                moreOptionsButton.on('mouseup', function(){
                    jQuery(this).hide();
                    filterOptions.show();
                    url.setSubmitParams('more_options_shown', 1);
                })
            }*/
            <?php } ?>

            jQuery(window).on('resize', function(){
                mobile();
            });
            //////////////////////////////////////////////////////
            jQuery('.mobile_filter_btn').on('click', function () {
                jQuery('body').addClass('mobile-filter-open');
                jQuery('html, body').toggleClass("scrolloff");
            });
            jQuery('#maincontent .block-overlay').on('click', function () {
                jQuery('html, body').removeClass("scrolloff");
            });
            jQuery('span.close_mobile_filter').on('click', function () {
                jQuery('html, body').removeClass("scrolloff");
            });
            
            //////////////////////////////////////////////////////
            jQuery('body').on('click','.block-overlay', function(){
                if(jQuery('body.mobile-filter-open')){
                    jQuery('body').removeClass('mobile-filter-open');
                    if (typeof ga === 'function') {
                        ga('send', 'event',
                            'mobile filter',
                            'hide',
                            'overlay click'
                        );
                    }
                }
            });
            jQuery('span.close_mobile_filter').on('click', function(){
                jQuery('body').removeClass('mobile-filter-open');
                if (typeof ga === 'function') {
                    ga('send', 'event',
                        'mobile filter',
                        'hide',
                        'close button click'
                    );
                }
            });
            jQuery('div.sidebar').on('click', 'div.mobile_filter .filter-options-title', function () {
                jQuery('#layered-filter-block').addClass('mobile-options-open');
                jQuery(this).parent().addClass('mobile_active');

                url.setSubmitParams('mobile', jQuery(this).parent().data('filter-code'));
            });
            jQuery('div.sidebar').on('click', closeMobileOptionButton, function(){
                jQuery('body').removeClass('mobile-filter-open');
                jQuery('div.sidebar .mobile_active').removeClass('mobile_active');
                jQuery('#layered-filter-block').removeClass('mobile-options-open');
            });
            jQuery(closeOptionButton).on('click', function () {
                jQuery('#layered-filter-block').removeClass('mobile-options-open');
                jQuery('div.sidebar .mobile_active').removeClass('mobile_active');
            });

        });
    </script>

</div>