<?php
/**
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>

<script>
    require([
        'jquery',
        'Aheadworks_Layerednav/js/filter/request/bridge',
        'Aheadworks_Layerednav/js/filter/request/executor/ajax',
        'Aheadworks_Layerednav/js/updater'
    ], function ($, requestBridge, executor, updater) {
        requestBridge.init({
            executor: executor
        });
        requestBridge.submit('<?php echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>').then(
            /**
             * Called after request finishes
             */
            function () {
                updater.update('<?php echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>', requestBridge.getResult());
            }
        );
    });
</script>

<div class="catalog_preload_block">
    <div class="filter_desktop">
        <p>Фильтр</p>
    </div>
    <div class="toolbar clearfix">
        <div class="mobile_sort_by_box">
            <div class="set_value icon-icon-rep-icons_arrow_down clearfix">
                <span class="icon-icon-rep-icons_arrow-short">Цена</span>
            </div>
        </div>
        <div class="mobile_filter_btn mobile">
            <span class="icon-icon-rep-icons_filter"><?php echo __('Фильтр'); ?></span>
        </div>
        <div class="sort_by_box clearfix">
            <span class="text"><?=__('Сортировка:')?></span>
        </div>
        <div class="view_mode_box container clearfix">
            <div class="modes">
                <span class="modes-mode active mode-grid icon-icon-rep-icons_view_grid" data-value="grid"></span>
                <span class="modes-mode mode-list icon-icon-rep-icons_view_list" data-value="list"></span>
            </div>
            <span class="text"><?=__('Вид:')?></span>
        </div>
        <?php if (false): ?>
        <div class="mobile_show_only_with_discounts_box clearfix">
            <input type="checkbox" id="mobile_show_only_with_discounts" disabled/>
            <label for="mobile_show_only_with_discounts">Показать только со скидками</label>
        </div>
        <?php endif;?>
    </div>
    <div class="products wrapper">
        <div class="product-items clearfix">
            <?php for ($i = 1; $i <= 12; $i++) { ?>
            <div class="item">
                <div class="img_box"></div>
                <div class="product_info_box"></div>
                <img class="loader" src="<?php echo $block->getViewFileUrl('images/loader-1.gif'); ?>" alt="#"/>
            </div>
            <?php } ?>
        </div>
    </div>
</div>

<script>
    require([
        'jquery',
        'scrollbar'
    ], function($,enscroll) {
        var flag = 0;
        function mobile(){
            var windowWidth = parseInt(window.innerWidth),
                dataContainer = jQuery('#layered-filter-block .filter-options-content .items');
            if (windowWidth < 1024){
                dataContainer.enscroll('destroy');
                flag = 0;
            } else if (windowWidth > 1024 && flag == 0){
                dataContainer.enscroll({
                    zIndex: 100,
                    showOnHover: 'true'
                });
                flag = 1;
            }
        }
        mobile();
        jQuery(window).on('resize', function(){
            mobile();
        });
    });
</script>